body {
    background-image: url("rps.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
}
.container {
    height:98vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.UI {
    display: flex;
    height: 450px;
    width: 700px;
    background-color: #eded8a;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 15px solid #babab5;
}
.elements {
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.stats {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.buttons{
    display: inline-flex;
    gap: 15px;
    
}
.button {
    width: 80px;
    height: 40px;
    background-color: #878782;
    border: 1px solid white;
    border-radius: 10%;
    cursor:pointer;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateX(-4px);
}

.results {
    font-size: 16px;
}